<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="admin/adminBase::layout(~{::body})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container h-100 d-flex align-items-center justify-content-center">
    <div class="container d-flex align-items-center justify-content-around">
        <div class="card border-info mb-3" style="max-width: 18rem;background-color: black;">
            <div class="card-header">Users</div>
            <div class="card-body">
              <h5 class="card-title">Users Count</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card border-info mb-3" style="max-width: 18rem;background-color: black;">
            <div class="card-header">Contact</div>
            <div class="card-body">
              <h5 class="card-title">Contacts counts</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>