<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="user/userBase::layout(~{::body})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="card mb-3 p-3 text-center" th:if="${contactById}">
        <img th:src="@{'/img/'+${contactById.imagePath}}" class="card-img-fluid-top mx-auto d-block conatactProfileImage text-center" alt="profilePhoto">
        <div class="card-body">
          <h5 class="card-title text-center"><span th:text="${contactById.name}"></span>   <span class="badge badge-pill badge-secondary" th:text="${contactById.nickName}"></span></h5>
          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><span th:text="${contactById.email}"></span></li>
            <li class="list-group-item"><span th:text="${contactById.phone}"></span></li>
            <li class="list-group-item"><span th:text="${contactById.work}"></span></li>
        </ul>
        <div class="card-body">
            <p class="card-text"><span th:text="${contactById.description}"></span></p>
        </div>

        <div class="container text-center">
            <a href="#" class="btn btn-outline-secondary">Update</a>
          <a th:href="@{'/user/Delete/'+${contactById.cid}}" class="btn btn-outline-danger">Delete</a>
        </div>
      </div>
</body>
</html>